body {
	padding: 0;
	margin: 0;
	background: #FFF;
	font-family: 'open Sans', sans-serif;
}
body a {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration: none;
}
body a:hover {
	text-decoration: none;
}
body a:focus, a:hover {
	text-decoration: none;
}
input[type="button"], input[type="submit"] {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	letter-spacing:1px;
}
p {
	margin:0;
}
ul {
	margin:0;
	padding:0;
}
label {
	margin:0;
}
a:focus, a:hover {
	text-decoration: none;
	outline: none
}
img {
	width: 100%;
}
/*-- navbar --*/
.navbar {
	margin-bottom: 0;
	position: absolute;
	z-index: 99999;
	background:transparent;
	border: none;
	border-radius: 0;
	width: 100%;
	padding: 10px 0;
}
.navbar-header h1{
	color:#fff;
	font-size:35px;
	padding: 5px;
}
.navbar-header img{
	width:17%;
}
.navbar-nav>li {
	padding: 0px 15px;
	
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
}

.navbar-default .navbar-nav>li>a:hover, 
.navbar-default .navbar-nav>li>a:focus {
	color: #fff;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: transparent;
 }  
/*-- Hover-Effect --*/
.hover_effect a {
	padding: 5px;
	color: #237546;
	font-weight: 700;
	text-shadow: none;
	font-family: 'Raleway', sans-serif;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}
.hover_effect a::before, 
.hover_effect a::after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 1px;
	background: #fff;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}
.hover_effect a::before {
	top: 0;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}
.hover_effect a::after {
	bottom: 0;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}
.hover_effect a:hover,
.hover_effect a:focus {
	color: #fff;
}

.hover_effect a:hover::before, 
.hover_effect a:focus::before, 
.hover_effect a:hover::after, 
.hover_effect a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

