html, body {
  padding: 0;
  margin: 0;
  background: #FFF;
  font-family: 'open Sans', sans-serif;
  font-size: 100%;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-attachment: fixed;
}
body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  text-decoration: none;
}
body a:hover {
  text-decoration: none;
}
body a:focus, a:hover {
  text-decoration: none;
}
h1,h2,h4,h5,h6 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing:1px;
}
h3 {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing:1px;
}
.title {
  margin: 30px;
}
p {
  margin:0;
}
ul, label {
  list-style:none;
  margin:0;
  padding:0;
}
a:focus, a:hover {
  text-decoration: none;
  outline: none
}
img {
  width: 100%;
}

/*-- NAVBAR --*/
.navbar {
  margin-bottom: 0;
  position: absolute;
  z-index: 99999;
  background:transparent;
  border: none;
  border-radius: 0;
  width: 100%;
  padding: 10px 0;
}
.navbar-header h1{
  color:#fff;
  font-size:40px;
}
.navbar-header img{
  width:22%;
}
.navbar-nav>li {
  padding: 5px 15px;
}
.navbar-default .navbar-nav>li>a {
  color: #fff;
}
.navbar-default .navbar-nav>li>a:hover, 
.navbar-default .navbar-nav>li>a:focus {
  color: #fff;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #140718;
    background-color: transparent;
}
.sub-banner{
    background:url(../images/slider1.jpg) no-repeat 0px 0px;
    min-height:87px;
    }
.sub-banner_rent_form{
    background:url(../images/slider1.jpg) no-repeat 0px 0px;

    }
.navbar-brand {
  text-shadow:5px 5px 10px black;
}
/*-- Hover Effect - NAVBAR--*/
.hover_effect a {
  padding: 10px;
  color: #237546;
  font-weight: 700;
  text-shadow: none;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
  font-family: 'Raleway', sans-serif;
}
.hover_effect a::before, 
.hover_effect a::after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
}
.hover_effect a::before {
  top: 0;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
}
.hover_effect a::after {
  bottom: 0;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(10px);
}
.hover_effect a:hover, 
.hover_effect a:focus {
  color: #fff;
}
.hover_effect a:hover::before, 
.hover_effect a:focus::before, 
.hover_effect a:hover::after, 
.hover_effect a:focus::after {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}

/*--New Games--*/
.view {
    overflow: hidden;
    position: relative;
    margin-top: 2em;
}
.view .mask, .view .content {
    width: 90%;
    position: absolute;
    overflow: hidden;
    padding: 6.5em 0;
}
.view img {
   display: block;
   position: relative;
}
.view h4,h5 {
    text-transform: capitalize;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 1em;
    letter-spacing: 2px;
}
.view p {
   font-size: 1em;
   position: relative;
   color: #fff !important;
   padding: 0.5em 0;
   text-align: center;
   margin:0;
}
.view-eighth .mask {
   background-color:rgba(0, 0, 0, 0.67);
   top: -200px;
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.3s ease-out 0.5s;
   -moz-transition: all 0.3s ease-out 0.5s;
   transition: all 0.3s ease-out 0.5s;
}
.view-eighth h2 {
   -webkit-transform: translateY(-200px);
   -moz-transform: translateY(-200px);
   -o-transform: translateY(-200px);
   -ms-transform: translateY(-200px);
   transform: translateY(-200px);
   -webkit-transition: all 0.2s ease-in-out 0.1s;
   -moz-transition: all 0.2s ease-in-out 0.1s;
   transition: all 0.2s ease-in-out 0.1s;
}
.view-eighth p {
   color: #333;
   -webkit-transform: translateY(-200px);
   -moz-transform: translateY(-200px);
   -o-transform: translateY(-200px);
   -ms-transform: translateY(-200px);
   transform: translateY(-200px);
   -webkit-transition: all 0.2s ease-in-out 0.2s;
   -moz-transition: all 0.2s ease-in-out 0.2s;
   -o-transition: all 0.2s ease-in-out 0.2s;
   -ms-transition: all 0.2s ease-in-out 0.2s;
   transition: all 0.2s ease-in-out 0.2s;
}
.view-eighth:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   top: 0px;
   -webkit-transition-delay: 0s;
   -moz-transition-delay: 0s;
   transition-delay: 0s;
   -webkit-animation: bounceY 0.9s linear;
   -moz-animation: bounceY 0.9s linear;
   -ms-animation: bounceY 0.9s linear;
   animation: bounceY 0.9s linear;
   height: 100%;
}
.view-eighth:hover h2 {
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
   -webkit-transition-delay: 0.4s;
   -moz-transition-delay: 0.4s;
   -o-transition-delay: 0.4s;
   -ms-transition-delay: 0.4s;
   transition-delay: 0.4s;
}
.view-eighth:hover p {
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
   -webkit-transition-delay: 0.2s;
   -moz-transition-delay: 0.2s;
   -o-transition-delay: 0.2s;
   -ms-transition-delay: 0.2s;
   transition-delay: 0.2s;
}
@keyframes bounceY {
    0% { transform: translateY(-205px);}
    40% { transform: translateY(-100px);}
    65% { transform: translateY(-52px);}
    82% { transform: translateY(-25px);}
    92% { transform: translateY(-12px);}
    55%, 75%, 87%, 97%, 100% { transform: translateY(0px);}
}

     /*--GAMES-*/
 /*-- Trending Games--*/
.gallery-grids {
    margin: 1em 2em;
}
.gallery-grid{
  float:left;
  width:25%;
  text-align: center;
}
.gallery-grid a {
    display: block;
    overflow: hidden;
}
.gallery-grid img{
  padding:.5em;
}
img.zoom-img {
  transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  -webkit-transition-duration: .5s;
  -moz-transition-duration: .5s;
  -ms-transition-duration: .5s;
  -o-transition-duration: .5s;
}
img.zoom-img:hover{
  transform: scale(.9);
  -webkit-transform: scale(.9);
  -moz-transform: scale(.9);
  -ms-transform: scale(.9);
  -o-transform: scale(.9);
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 750ms;
  -moz-transition-timing-function: ease-in-out;
  -moz-transition-duration: 750ms;
  -ms-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -ms-transition-duration: 750ms;
  -o-transition-duration: 750ms;
  overflow: hidden;
}
.gallery-grid h4 {
    position: relative;
    padding: 5px;
    font-size: 1.3em;
    font-weight: 500;
    }
/*--Trailers - GAMES--*/
/*--video--*/
.gallery-grid iframe {
    border: none;
    width: 100%;
    height: 300px;
}
   /*RENT IT*/
.rent-info-section{
  padding:50px 0px;
}
.rent li{
  margin-bottom: 2%;
  margin-left: 5%; 
}
.thumb{
  padding:20px 0px 0px 70px;
  float: left;
  width: 30%;
  margin: 0.5%;
} 
.thumb-details{
  padding-top:30px;
  float: left;
  width: 63%;
}
.thumb-details h4{
  color: #279198;
  font-size: 22px;
  margin-bottom: 10px;
  text-align: left;
}
.thumb-details p{
  color: #333;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 20px;
}
.rent-button{
  color: #fff;
  font-size: 13px;
  padding:5px  12px;
  background: #279198;
  cursor: pointer;
}
.rent-button:hover{
  background:#111;
  color: #fff;
}
 /*--Rent info bar--*/

.item_info {
    border: 1px solid #ddd;
    padding: 0.5em 1.5em;
    margin: 2em 0;
}
.item_info ul li i {
   color:#8a8a8a;
    margin-right: 15px;
}
.item_info ul li {
    display: inline-block;
    font-size: 1.1em;
    margin-right: 27px;
    vertical-align: middle;
    color: #777;
    list-style: none;
}
.item_info ul li  a{
  color: #777;
  transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
/* RENT IT FORM */
input[type="submit"],a{
  transition:.5s ease-in;
  -webkit-transition:.5s ease-in;
  -moz-transition:.5s ease-in;
  -o-transition:.5s ease-in;
  -ms-transition:.5s ease-in;
}
.main{
  position: absolute;
  height: 800px;
  width: 100%;
  background:url(../images/slider1.jpg) no-repeat 0px 0px;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-attachment: fixed;
}
.main h1{
  text-align: center;
  color: #fff;
  margin: 1em;
  margin-top: 100px;
  font-size: 3em;
  letter-spacing: 2px;
  text-shadow:5px 5px 10px #2b2b2b;
  -webkit-text-stroke: 1px #2b2b2b;
   color: white;
   text-shadow:
       3px 3px 0 #000,
       -1px -1px 0 #000,  
       1px -1px 0 #000,
       -1px 1px 0 #000,
       1px 1px 0 #000;
}
.main_grids{
  width:50%;
  margin:0 auto;
  height: 500px;
  background-color: #2b2b2b;
  opacity: 0.7;
}
.main_grid_left{
  float:left;
  width:47.6%;
}
.main_grid{
  padding:3em;
}
.main_grid_left h3{
  font-size: 1.1em;
  color: #fff;
  margin-bottom: 1em;
  letter-spacing: 2px;
  font-weight: 500;
}
.main_grid_left input[type="email"],
.main_grid_left input[type="password"],
.main_grid_left input[type="text"],
.main_grid_left textarea{
  outline: none;
  padding: 12px;
  font-size: 13px;
  color: #fff;
  border: 2px solid #f2f2f2;
  background: none;
  width: 92%;
  margin-bottom: 1.5em;
}
.main_grid_left textarea{
  min-height:73px;
  resize:none;
}
.main_grid_left input[type="email"]:focus,
.main_grid_left input[type="password"]:focus,
.main_grid_left input[type="text"]:focus,
.main_grid_left textarea:focus{
  border-color:#279198;
}
.main_grid_left input[type="email"]::-webkit-input-placeholder,
.main_grid_left input[type="password"]::-webkit-input-placeholder,
.main_grid_left input[type="text"]::-webkit-input-placeholder,
.main_grid_left textarea::-webkit-input-placeholder{
  color: #b7b2b2;
}
.main_grid_left:nth-child(2){
  margin-left:2em;
}
.main_grid_left h2{
  font-size: 1em;
    color: #fff;
    font-weight: 500;
}
.main_grid_left_l{
  float:left;
}
.main_grid_left_r{
  float: right;
}
label.radio {
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  padding-left: 25px;
  margin: 0;
  position: relative;
}
.radio i{
  margin-left: 10px;
  position: absolute;
  top: 3px;
  left: 0;
  display: block;
  width: 10px;
  height: 10px;
  outline: none;
  background:#279198;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
}
.radio input + i:after {
  content: '';
  top: 2px;
  left: 2px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
}
.radio input:checked + i:after {
  opacity: 1;
}
.radio input + i:after {
  position: absolute;
  opacity: 0;
  transition: opacity 0.1s;
  -o-transition: opacity 0.1s;
  -ms-transition: opacity 0.1s;
  -moz-transition: opacity 0.1s;
  -webkit-transition: opacity 0.1s;
}
.radio input {
  position: absolute;
  left: -9999px;
}
.radio_button {
  float: left;
  margin-left: 2em;
}
.main_grid_left_l_grids{
  padding:1em 0 2em;
}
.radio_button:first-child{
  margin-left:0;
}
.main_grids input[type="submit"]{
  margin:10px 0 0 30px;
  padding: 10px 0;
  opacity: 1;
  font-size: 1em;
  font-weight: 600;
  color: #fff;
  border: none;
  float: left;
  width: 35%;
  background: #279198;
  cursor: pointer;
  text-transform: uppercase;
}

/* CONTACT */
.contact{
    padding: 3em 0;
}
.contact h2{
    text-align: left;
    padding:0px 0px 20px 200px;
    color: #279198;
}

.adress ul li{
    width: 33%;
    float: left;
    text-align: center;
    font-family: 'Hind Vadodara';
    font-size: 18px;
    font-weight: 400;
}
.map iframe {
    width: 100%;
    height: 408px;
}
.form-details {
    text-align: center;
    margin-top: 5px;
}
input.name-con,
input.tel-con, 
input.email-con{
    width: 100%;
    padding: 7px;
    outline: none;
    display: block;
    border: 2px solid #279198;
    background-color: transparent;
    color: #1a1a1a;
    font-family: 'Raleway';
}
textarea.contact-area{
    width: 100%;
    padding: 7px;
    outline: none;
    display: block;
    border: 2px solid #279198;
    background-color: transparent;
    font-family: 'Raleway'; 
    resize: none;
    height: 170px;
}
.btn-contact{
    background-color: #279198;
    color: #fff;
    text-transform: uppercase;
    border: none;
    font-family: 'Hind Vadodara';
    transition: 0.5s all;
    display: inline-block;
}
.btn-contact:hover,
.btn-contact:focus{
    background-color: #181502;
    color: #fff;
    transition: 0.5s all; 
}
/*-- FOOTER --*/
.footer{
  padding:35px 0px;
}
.footer h4{
  text-align:left;
  color:#279198;
  font-size:27px;
  margin-bottom:30px;
}
.footer-left ul li{
  display:inline-block;
  margin-bottom:35px;
}
.footer-left .glyphicon{
  font-size:16px;
}
.footer-left ul li h6{
  font-size:16px;
  color:#000;
  margin-left:10px;
}
.footer-left ul li a{
  font-size:14px;
  color:#000;
}
.footer-middle-three{
  margin-top:25px;
}
.footer-right img {
    width: 12%;
}
.footer-right p{
  font-size:14px;
  color:#000;
  line-height:30px;
}

/*SOCIAL MEDIA*/
.social-media {
    text-align: left;

}
.social-media h3{
    font-size: 20px;
    color: #279198;
    text-align: left;
}
.social-media span{
    display: inline-block;
    background: #279198;
    height: 1px;
    width: 70px;
    margin-left: 50px;
}
.social-media ul {
    list-style-type: none;
}
.social-media ul li{
    display: inline-block;
}
.social-media ul li a{
    background: url(../images/social.jpg);
    width: 42px;
    height: 42px;
    display: inline-block;
}
.social-media ul li a.facebook{
    background-position: -104px 0px;
}
.social-media ul li a.facebook:hover{
    background-position: -104px -42px;
}
.social-media ul li a.twt{
    background-position: -146px 0px;
}
.social-media ul li a.twt:hover{
    background-position: -146px -42px;
}
.social-media ul li a.instagram{
    background-position: -188px 0px;
}
.social-media ul li a.instagram:hover{
    background-position: -188px -42px;
}
.social-media ul li a.youtube{
    background-position: -230px 0px;
}
.social-media ul li a.youtube:hover{
    background-position: -230px -42px;
}

/*-- RESPONSIVE--*/
@media (max-width:1440px){
  .main_grids {
    width: 60%;
  }
  .main_grid_left input[type="email"], .main_grid_left input[type="password"], .main_grid_left input[type="text"], .main_grid_left textarea {
    width: 91%;
  }
}
@media (max-width: 1366px){
  .main_grids {
    width: 62%;
  }
}
@media (max-width: 1280px){
  .main_grids {
    width: 72%;
  }
}
@media screen and (max-width: 1080px){
  .item_info {
    margin: 1.2em 0;
  }
  .item_info ul li {
    margin-right: 18px;
  }
  .rent-button {
    margin-top:12px;
  }
  .main_grid_left {
    width: 42.7%;
  }
  .main_grid_left input[type="email"], .main_grid_left input[type="password"], .main_grid_left input[type="text"], .main_grid_left textarea {
    width: 88.5%;
  }
  .radio_button {
    margin-left: 1em;
  }
  .main_grid_left h2 {
    font-size: .9em;
  }
}
@media (max-width: 1024px){
  .main_grids {
    width: 70%;
  }
  .main_grid_left input[type="email"], .main_grid_left input[type="password"], .main_grid_left input[type="text"], .main_grid_left textarea {
    width: 92%;
  }
  .navbar-header h1 {
    margin-top:7px;
    font-size: 33px;
    text-align: left;
  }
  .navbar-header img {
    width: 20%;
  }
}
@media screen and (max-width: 991px){
  .navbar-header img {
    width: 18%;
  }
  .img-agile{
    width:25%;
    float:left;
    padding:3px 1px;
  }
  .navbar-nav>li {
    padding: 2px 1px;
  }
  .galery-layouts h2 {
    font-size: 35px;
  }
  .view .mask, .view .content {
    width: 83%;
    padding: 20px 0;
  }
  .view h4 {
    font-size: 1.8em;
  }
  .view p {
    font-size: 12px;
  }
  .map iframe {
    width: 100%;
    height: 350px;
  }
  .rent-info-section {
    float: left;
  }
  .item_info {
    padding: 0.5em;
    margin: 1em 0;
  }
  .item_info ul li {
    font-size: 1em;
    margin-right: 16px;
  }
  .item_info ul li i {
    margin-right: 5px;
  }
  .rent-game {
    margin: 10px 0px;
  }
  .thumb-details {
    width: 90%;
    float: left;
    padding-left: 5px;
  }
  .thumb-details p {
    font-size: 13px;
    line-height: 26px;
  }
  .thumb { 
    margin: 10px;
    float: left;
    padding-left: 0;
    width: 85%;
  }
  .footer-left,
  .footer-middle,
  .footer-right {
    width: 33.3%;
    float: left;
  }
  .footer-middle{
    padding:0;
  }
  .footer-middle-three {
    margin-top: 7px;
  }
  .footer-left ul li {
    margin-bottom: 22px;
  }
  .footer-right p {
    font-size: 13px;
    line-height: 25px;
  }
  .footer-right img {
    width: 16%;
  }
  .gallery-grid h4 {
    font-size: 1.2em;
    }
  .main_grid_left input[type="email"], .main_grid_left input[type="password"], .main_grid_left input[type="text"], .main_grid_left textarea {
    width: 89%;
  }
}
@media (max-width: 900px){
  .main_grids {
    width: 80%;
  }
   .radio i{
    margin-left: 5px;
  }
}
@media (max-width: 800px){
  .main_grids {
    width: 85%;
  }
    .main_grid_left input[type="email"], .main_grid_left input[type="password"], .main_grid_left input[type="text"], .main_grid_left textarea {
    width: 89.4%;
  }
}
@media screen and (max-width: 768px){
  .navbar-header h1 {
    text-align: left;
  }
  .navbar-default .navbar-toggle {
    background: transparent;
    border: 2px solid #279198;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #279198;
  }
  .navbar-toggle {
    border-radius: 0px;
  }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
  } 
  .navbar-header img {
    width: 15%;
  }
  .navbar-nav {
    margin: 0;
    background: #279198;
  }
  .navbar-collapse.in {
    overflow-y: inherit;
  }
  .view .mask, .view .content {
    padding: 45px 0;
  }
  .gallery-grid {
    min-height: 124px;
  }
  label.radio{
    padding-left: 18px;
  }
}
 @media screen and (max-width: 736px){
  .carusel-control.left,
  .carusel-control.right {
  background-image: none;
 }
  .navbar-default .navbar-toggle {
    background: transparent;
    border: 2px solid #279198;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #279198;
  }
  .navbar-toggle {
    border-radius: 0px;
  }
  .navbar-default .navbar-toggle:hover, 
  .navbar-default .navbar-toggle:focus {
    background-color: transparent;
  } 
  .navbar-nav {
    margin: 0;
    background: #02178e;
  }
  .navbar-collapse.in {
    overflow-y: inherit;
  }
  .item_info ul li {
    margin-right: 14px;
    font-size: 12px;
  }
  .main_grid_left input[type="email"], .main_grid_left input[type="password"], .main_grid_left input[type="text"], .main_grid_left textarea {
    width: 88%;
  }
  label.radio{
    font-size: 12px;
  }
  .radio i{
    top: 2px;
  }
  .main_grid input[type="submit"] {
    width: 50%;
  }
}

@media screen and (max-width:667px){
  .callbacks_nav {
    height: 61px;
    width: 32px;
    background-size: 58px;
  }
  .view .mask, .view .content {
    padding: 37px 0;
    width:87%;
  }
  .footer-left ul li h6 {
    font-size: 15px;
    margin-left: 5px;
  } 
  .footer h4 {
    font-size:25px;
  }
  .gallery-grid h4 {
  font-size: 1em;
  }
  .main h1 {
    font-size: 2.2em;
  }
  .main_grid {
    padding: 2em;
  }
  .main_grids {
    width: 90%;
  }
  .main_grid_left_r {
    float: none;
  }
  .main_grid_left_l_grids,.main_grid_left_l {
    padding: 0 0 1em;
  }
}
 
@media screen and (max-width:640px){
  .footer-left ul li h6 {
    font-size: 14px;
    margin-left: 5px;
  }
  .footer-left .glyphicon {
    font-size: 15px;
  }
  .footer h4 {
    font-size: 24px;
  }
  .item_info ul li {
    font-size: 12px;
    margin-right: 12px;
  }
.main_grids {
    width: 97%;
  }
  .main_grid_left input[type="email"], .main_grid_left input[type="password"], .main_grid_left input[type="text"], .main_grid_left textarea {
    width: 97%;
  } 
}
@media screen and (max-width:600px){
  .footer-left, .footer-middle, .footer-right {
    width: 100%;
    float: left;
  }
  .footer-middle{
    margin:30px 0;
  }
  .footer h4 {
    margin-bottom: 20px;
  }
  .footer-right h4 {
    margin-bottom: 10px;
  }
  .item_info ul li {
    font-size: 12px;
    margin-right: 5px;
  }
  .gallery-grid {
    min-height: 142px;
  }
  .main h1 {
    font-size: 2em;
  }
  .main_grids {
    width: 94%;
  }
}

@media screen and (max-width:568px){
   .navbar-header h1 {
    font-size: 25px;
    text-align: left;
  }
  .gallery-layouts {
    padding: 30px 0px;
    margin-bottom: 30px;
  }
   .gallery-layouts h2 {
    font-size: 28px;
    margin: 10px 30px;
  }
  .view h4 {
    font-size: 2.2em;
  }
  .view .mask, .view .content {
    padding: 83px 0;
    width: 94.5%;
  }
  .item_info ul li {
    font-size: 11px;
    margin-right: 6px;
  }
  .map iframe {
    width: 100%;
    height: 270px;
  }
  .gallery-grid h4 {
  font-size: 1em;
  padding-top: 2px;
  }
  .main h1 {
    font-size: 2em;
  }
  .main {
  height: 160%;
  }
  .main_grid_left {
    width: 100%;
    float: none;
  }
  .main_grid_left input[type="email"], .main_grid_left input[type="password"], .main_grid_left input[type="text"], .main_grid_left textarea {
    width: 92%;
  }
  .main_grid_left:nth-child(2) {
    margin: 0;
  }
  .main_grid input[type="submit"] {
    width: 65%;
    font-size: 14px;
  }
  .main_grids {
    height: 850px;
  }
}

@media screen and (max-width:480px){
  .callbacks_nav {
    top: 60%;
  }
  .navbar-header h1 {
    font-size: 22px;
    position: absolute;
  }
  .view .mask, .view .content {
    padding: 67px 0;
    width: 93.5%;
  }
  .gallery-grid {
    float: left;
    width: 50%;
  }
  .rent-info-section {
    width: 100%;
    float: left;
    min-height:310px;
  }
  .thumb {
    width: 100%;
    float: left;
  }
  .thumb-details {
    width: 100%;
    float: left;
    padding-left: 15px;
  }
  .thumb-details h4 {
    font-size: 30px;
  }
  .map iframe {
    width: 100%;
    height: 250px;
  }
  .contact h2 {
    font-size: 25px;
    float: left;
    padding-left: 15px;
  }
  .main h1 {
    font-size: 1.8em;
  }
  .main_grid input[type="submit"] {
    font-size: 12px;
  }
  .main_grids {
    height: 750px;
  }
  .main_grid input[type="submit"] {
    width: 60%;
    font-size: 14px;
  
}
@media screen and (max-width:414px){
  .navbar-header img {
    width: 15%;
  }
  .view .mask, .view .content {
    padding: 49px 0;
    width: 93%;
  }
  .view h4 {
    font-size: 2em;
  }
  .sub-banner {
    min-height: 72px;
  }
  .thumb-details h4 {
    width: 36%;
  }
  .gallery-grid {
    min-height: 109px;
  }
  .main_grid_left input[type="email"], .main_grid_left input[type="password"], .main_grid_left input[type="text"], .main_grid_left textarea {
    width: 90%;
  }
  .main_grid input[type="submit"] {
    width: 100%;
    margin-left: -10px;
  }
}
@media screen and (max-width:384px){

  .view .mask, .view .content {
    padding: 40px 0;
    width: 91.5%;
  }
  .view h4 {
    font-size: 1.7em;
  }
}
@media (max-width: 320px){

  .main h1 {
    font-size: 1.3em;
    line-height: 1.5em;
    letter-spacing: 0;
  }
 .callbacks_nav {
    height: 45px;
    width: 25px;
    background-size: 46px;
  }
  .view .mask, .view .content {
    padding: 90px 0;
    width: 89%;
  }
  .main_grid {
    padding: 1.5em;
  }
  .main_grid_left input[type="email"], .main_grid_left input[type="password"], .main_grid_left input[type="text"], .main_grid_left textarea {
    width: 87%;
  }
}